<tr>
  <td><%= assignment.name %></td>
  <td><%= link_to assignment.uri, assignment.uri, target: "_blank" %></td>
  <td><%= assignment.concept_count %></td>
  <td><%= render partial: "scores/badge", locals: {score: assignment.average_score} %></td>
  <td class="icons">
    <%= link_to '<i class="glyphicon glyphicon-book"></i> Grade'.html_safe,
          edit_scores_assignment_path(assignment) %>
  </td>
  <td class="icons">
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe,
          edit_assignment_path(assignment) %>
  </td>
</tr>
