<%= link_to '<< Back to Assignment List'.html_safe, assignments_path %>

<h1>Grade Assignment: <%= @assignment.name %></h1>
<%= form_tag update_scores_assignment_path(@assignment) do %>
  <%= hidden_field_tag :id, @assignment.id %>
  <table class="table edit-scores">
    <thead>
      <tr>
        <th></th>
        <th>Score</th>
        <th>Comments</th>
        <th>+1 Concepts</th>
        <th>-1 Concepts</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td>
            <%= radio_button_tag "students[#{student.id}][score]", 0,
                @score_hash[student.id][:score] == 0 %>
            <span class="score-span-color" data-score=0>Did not submit</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 1,
                @score_hash[student.id][:score] == 1 %>
            <span class="score-span-color" data-score=1>Incomplete</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 2,
                @score_hash[student.id][:score] == 2 %>
            <span class="score-span-color" data-score=2>Complete</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 3,
                @score_hash[student.id][:score] == 3 %>
            <span class="score-span-color" data-score=3>Exceptional</span>
          </td>
          <td>
            <%= text_area_tag "students[#{student.id}][comments]", @score_hash[student.id][:comments] %>
          </td>
          <td>
            <%= select_tag "students[#{student.id}][positives]", options_for_select(Concept.all.map &:name) %>
          </td>
          <td>
            <%= select_tag "students[#{student.id}][negatives]", options_for_select(Concept.all.map &:name) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Save Scores", class: "btn btn-primary" %>
<% end %>
