<div class="alternate-links">
  <%= link_to 'Edit this Assignment'.html_safe, edit_assignment_path(@assignment) %>
</div>
<h1>Grade Assignment: <%= @assignment.name %></h1>

<h3 class="text-muted">Concepts: <%= @assignment.concept_names %></h3>

<%= form_tag update_scores_assignment_path(@assignment) do %>
  <%= hidden_field_tag :id, @assignment.id %>
  <table class="table edit-scores">
    <thead>
      <tr>
        <th></th>
        <th>Score</th>
        <th>Comments</th>
        <th class="score-span-color" data-score=3>+1 Concepts</th>
        <th class="score-span-color" data-score=0>-1 Concepts</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td>
            <%= radio_button_tag "students[#{student.id}][score]", 0,
                @score_hash[student.id][:score] == 0 %>
            <span class="score-span-color" data-score=0>Did not submit</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 1,
                @score_hash[student.id][:score] == 1 %>
            <span class="score-span-color" data-score=1>Incomplete</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 2,
                @score_hash[student.id][:score] == 2 %>
            <span class="score-span-color" data-score=2>Complete</span>
            <br />
            <%= radio_button_tag "students[#{student.id}][score]", 3,
                @score_hash[student.id][:score] == 3 %>
            <span class="score-span-color" data-score=3>Exceptional</span>
          </td>
          <td>
            <%= text_area_tag "students[#{student.id}][comments]", @score_hash[student.id][:comments] %>
          </td>
          <td>
            <div class="impression-group">
              <% student.positive_impressions(assignment: @assignment).each do |imp| %>
                <%= render partial: "impression_select",
                      locals: {imp: imp, student: student, parity: "positives"} %>
              <% end %>
              <%= render partial: "impression_select",
                    locals: {imp: nil, student: student, parity: "positives"} %>
            </div>
            <%= link_to "Add Another +1", "javascript:void(0);", class: "add-impression" %>
          </td>
          <td>
            <div class="impression-group">
              <% student.negative_impressions(assignment: @assignment).each do |imp| %>
                <%= render partial: "impression_select",
                      locals: {imp: imp, student: student, parity: "negatives"} %>
              <% end %>
              <%= render partial: "impression_select",
                    locals: {imp: nil, student: student, parity: "negatives"} %>
            </div>
            <%= link_to "Subtract Another -1", "javascript:void(0);", class: "add-impression" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Save Scores", class: "btn btn-primary" %>
<% end %>
