<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
      <div class="actions">
        <%= link_to "Delete Student", @student, method: :delete, class: "btn btn-danger",
              confirm: "Are you sure you want to delete this student?" %>
      </div>
    </div>
  </div>
<% end %>
