<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <a class="navbar-brand menu-header" href="/">Exomemex</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to graph_packed_graph_path do %>
            <i class="glyphicon glyphicon-record"></i>
          <% end %>
        </li>
        <li>
          <%= link_to graph_force_graph_path do %>
            <i class="glyphicon glyphicon-th"></i>
          <% end %>
        </li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i> <i class="caret"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if @graph %>
                <li><%= link_to concepts_color_by_time_path, remote: true do %>
                  <i class="glyphicon glyphicon-time"></i> Units Taught
                <% end %></li>
                <li><%= link_to concepts_color_by_comprehension_path, remote: true do %>
                  <i class="glyphicon glyphicon-dashboard"></i> Class Comprehension
                <% end %></li>
                <li class="divider"></li>
                <% @students.each do |s| %>
                  <li><a href="#" onclick="changeColor();">
                    <i class="glyphicon glyphicon-user"></i> <%= s.name %>
                  </a></li>
                <% end %>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Edit Students", students_path %></li>
              <li><%= link_to "Edit Units", units_path %></li>
            </ul>
          </li>
        <% end %>
        <li>
          <% if logged_in? %>
            <%= link_to "Log Out", logout_path, method: :delete %>
          <% else %>
            <%= link_to "Log In", login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
