<!DOCTYPE html>
<html>
<head>
  <title><%= browser_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand menu-header" href="/">Mental Mapper</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Entire Map</a></li>
            <li><a href="#">Map of Class</a></li>
            <li><a href="#">Map of Students</a></li>
            <li class="divider"></li>
            <li><a href="#">Units</a></li>
            <li><a href="#">Assignments</a></li>
            <li><a href="#">Users</a></li>
          </ul>
        </li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
