<!DOCTYPE html>
<html>
<head>
  <title><%= browser_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render "layouts/menu" %>

<svg id="graph"></svg>

<div class="container">
  <% unless params[:controller]=="graph" %>
    <%= render "layouts/flash" %>
  <% end %>
  <%= yield %>
  <% debug(params) if Rails.env.development? %>
</div>

</body>
</html>
